*{
	font-family: "Arial";
}
h1, h2, h3, h4, ul, ol{
    margin: 0;
    padding: 0;
}

.main-block {
    position: relative;
    width: 1200px;
    margin: auto;
    border: 2px solid #ccc;
}

.flex{
    display: flex;
}

.center{
	text-align: center;
}
.right{
	text-align: right;
}

.block1{
	background-color: #445162;
	padding: 50px;
}

.block1 > div{
	width: 50%;
}
.block1 ul{
	list-style-image: url(./image/check_icon.png);
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	margin-left: 40px;
	margin-top: 20px;
}


.block2{
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
}

.about {
	color: #445162;
}

.about-info {
	padding-top: 20px;
	color: #445162;
	width: 85%;
	font-size: 14px;
}

.block3 {
	margin-top: 50px;
	background-color: #f5f5f5;
}

.skrin-info{
	
	margin-bottom: 20px;
	margin-left: 10px;
	border-radius: 12px;
}

.paragraf {
	padding-left: 20px;
	color: #989898;
}

.skrin-to {
	padding-top: 50px;
}
.skrin-info2 {
	padding-bottom: 10px;
}

.skrin-img{
	padding-bottom: 30px;
}

.block5 {
	background-color: #f5f5f5;
}

.color-info1{
	background-color: #ebebeb;
}
.block6{

	background: #fff;
	padding: 0 145px;
}
.block6 .flex > div{
	display: flex;
	width: 33.33%;
	margin: 0 25px;
	align-items: flex-end;
}
.block6 .flex > div > div{
	background-color: #445162;
}

.standart {
	padding: 10px;
	color: #f0ecec;
}


.li-class{
	font-size: 12px;
	padding-left: 20px;
}

.li-class2 {
	font-size: 12px;
	
}
.standart-price{
	border-radius: 7px;
	border: 2px solid #445162;
}
.center-price {
	background-color: #fff;
	text-align: center;
	color: #445162;
	padding: 10px;
}

.buy-it-logo{
	text-align: center;
	padding: 50px;
	color: #445162;
}

.block6 a{
	display: block;
	text-align: center;
	border-radius: 10px;
	font-size: 16px;
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	text-decoration: none;
	color: #445162;
}
.block6 ol{
	margin: 0 20px 20px 20px;
	color: #f0ecec;

}
.block6 .container6{
	padding-left: 5px;
	padding-top: 20px;
}
.product-name {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
}

.product-name-info {
    color: #ffffff;
    width: 422px;
    height: 127px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    padding-left: 50px;
    padding-top: 5px;
}

.product-name-container {
    width: 1280px;
    height: 350px;
    background-color: #445162;
}

.block7 {
	margin-top: 50px;
	background-color: #445162;
}

.block7 .col1{
	width: 65%;
	padding: 0 50px 50px 0;
}

.block7 .col1 form{
	margin-left: 300px;
}

.block7 .col1 div input,
.block7 .col1 div textarea{
	/*box-sizing: border-box;*/
	width: 100%;
	padding: 10px 5px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
	outline: none;
}
.block7 .col1 div textarea{
	height: 150px;
	resize: none;
}
.block7 .col1 div .send-btn{
	width: auto;
	padding: 10px 50px;
	font-weight: bold;
	color: #445162;
}

.block7 .col2{
	width: 35%;
}
.block7 .col2 div{
	margin-bottom: 10px;
}

.col2-info {
	padding-left: 10px;
	font-size: 16px;
	color: #ffffff; 
}

.col2-social {
	padding-top: 20px;
}
.contacts-it-logo{
	text-align: center;
	padding: 50px;
	color: #ffffff;
}

.imag-one {
    position: absolute;
    margin-left: 761px;
    margin-right: 50px;
    padding-top: 50px;
    
}

.about-product {
    width: 254px;
height: 28px;
color: #445161;
padding-left: 50px;
padding-top: 50px;
font-size: 30px;
font-weight: 400;
line-height: 36px;
}

.img-two {
   padding-right: 100px;
    
  
    
}

.product-container {
width: 649px;
height: 63px;
color: #333333;
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-left: 50px;
}

.dignity {
 display: block;
	text-align: center;
	padding: 30px;
}

.dignity-container {
    width: 526px;
height: 63px;
color: #333333;
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-top: 30px;
}

.dignity-container {
    
    width: 526px;
    height: 63px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 681px;
    position: absolute;
}

.dignity-container-two {
    
    width: 526px;
    height: 63px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 90px;
    padding-top: 35px;
    
}

.img-plus{
    background-color: #333333;
    padding: 6px;
    width: 33px;
height: 33px;

}



.skrin {
    width: 138px;
height: 22px;
color: #445161;
font-size: 30px;
font-weight: 400;
line-height: 36px;
padding-top: 450px;
padding-left: 571px;
}

.skrin-name {
    padding-left: 150px;
    width: 359px;
    height: 23px;
color: #445161;
font-family: "Arial MT";
font-size: 24px;
font-weight: 400;
line-height: 30px;
position: absolute;
padding-top: 50px;
}

.list-skrin{
	padding-right: 5px;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 50px
}

.list-skrin .row{
    display:flex;
}
.list-one {
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 50px
}
.list-one .row{
    display:flex;
}
.list-one .plus{
    display: inline-block;
    padding: 5px;
    width: 20px;
    height: 20px;
    
    background-color: #445161;
    margin-right: 10px;
}



.end {
	text-align: center;
	margin: 5px;
	font-size: 12px;
	color: #989898
}
